.imagen{
    max-width: 100px;
    
}

.mbody {
      background-color: #ebebeb;
}
.card {
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
    
.imagen{
    max-width: 100px;
    
}
.divm{
    background-image: radial-gradient(at bottom left, #004A71 0%, #012437 100%);
    color: whitesmoke;
    border-radius: 34px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.negrita{
    font-weight:500;
}
.colorFooter{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer{
    height: 200px;
}
@media (max-width: 768px) {
    footer{
        height: auto;
    }
}